.under-dev{
  font-weight: 200;
  margin: 3em 0 1em;
}

.download-links{
  @include span-columns(12);

  .disabled img { //Diasabled style until available in the apppp stores
    opacity: .3 
  }

  img{
    @include span-columns(6);
    padding: 0 .6em 0 0;
  }
}