
// /* general navbar */

nav {
    max-width: $max-width;
    margin: 0 auto;
    padding: .25em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    @media (min-width: $screen-sm-max){
        justify-content: space-between;
        padding: .5em 0;
    }


    a {
        text-decoration: none;
        color: $dark-gray;   
    }

    ul {
        list-style: none;
        margin: 0; padding: 0;
        display: flex;

        li {
            padding: 0 .5em;
        }
    }

    .logo{
            width: 140px;
            img{width: 100%;}
        @media (min-width: $screen-sm-min){
            margin-top: .4em;
            margin-left: 1em;
        }
    }
}
