<link href="/bower_components/sweetalert/lib/sweet-alert.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/bower_components/sweetalert/lib/sweet-alert.min.js" async></script>
<link href="/bower_components/devices.css/assets/devices.min.css" rel="stylesheet" type="text/css">


<hr class="separator">
<footer>
  <p id="social">
    <a href="https://twitter.com/parlaytheapp">
      {% include svg/twitter.svg  %}
    </a>
    <a href="https://www.facebook.com/ParlayWithMe">
      {% include svg/facebook.svg  %}
    </a>
    <a href="http://instagram.com/parlaytheapp/">
      {% include svg/instagram.svg  %}
    </a>
  </p>
  
  <ul class="bottom-nav">
    <a href="/legal/">Legal</a>
    <a href="/fees/">Fees</a>
    <a href="/support/">Support</a>
    <!-- <li><a href="/security/">Security</a></li> -->
    <!-- <li><a href="/privacy/">Privacy</a></li> -->
    <!-- <li><a href="/terms/">Terms</a></li> -->
  </ul>

  <p id="copyright">
    Copyright © 2015 Parlay. All Rights Reserved.
    <a href="/terms/">Terms</a>
  </p>
</footer>
</div>
</core-drawer-panel>


