---
layout: default
title:  "Parlay with Friends"
---

<main id="landing-main">
  <section id="landing-cover">
    <nav>
    {% include global-nav/global-nav.html %}
    </nav>

    <div class="landing-content">
      <div id="landing-img">
        <img src="assets/screenshots/screenshot_d.png">
      </div>

      <div class="cover-text">
        <h1 class="headline">parlay with your friends</h1>
        <h2>What’s a parlay!?
        <!-- <img class="emoji" src="images/emoji/interrobang.png" title=":interrobang:" alt=":interrobang:" align="absmiddle"></img>  -->
        </h2>
        <h3>it's a prediction.</h3> 

        <p>
          You predict something and your friend says you’re wrong. At the end, whoever loses may decide to give the winner a gift <img class="emoji" src="images/emoji/moneybag.png" title=":moneybag:" alt=":moneybag:" align="absmiddle"></img>... ’cause, you know, respect <img class="emoji" src="images/emoji/facepunch.png" title=":facepunch:" alt=":facepunch:" align="absmiddle"></img> 
        </p>

        {%include appstore-icons/appstore-icons.html %}

      </div>
    </div>
  </section>

  <section id="examples">
    {%include example-list/example-list.html %}
  </section>

  <section id="product">
    {%include product-demo/product-demo.html %}
  </section>

<section id="team">

</section>



  <!--
      <video id="video" preload="">
        <source src="https://s3.amazonaws.com/parlay/tutorial.mp4" type="video/mp4"></source>
        <source src="https://s3.amazonaws.com/parlay/tutorial.webm" type="video/webm"></source>
      </video>
    -->
  </main>
