/* GENERAL STYLES */

/* green: #2ecc40; */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #222222;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    color: #2ecc40;
    text-decoration: none;
}

a:hover,
a:active {
    opacity: 0.4;
}

a.current {
    color: #222222;
}

a.current:hover {
    opacity: 1;
}

/* header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    -moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

header.on-top {
    background-color: white;
}

header > a {
    padding: 25px 40px;
}

#page-top-navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #2ecc40;
    -moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    display: none;
    clear: both;
}

#page-top-navbar > core-icon-button, #page-top-navbar > h1 {
    float: left;
    color: white;
}

#page-top-navbar > core-icon-button {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 12px;
}

#page-top-navbar > h1 {
    padding: 0;
    margin: 4px;
}

#page-top-navbar > a {
    float: right;
    padding: 0;
    margin: 8px 15px 0 0;
}

svg#page-logo * {
    fill: white;
    /*float: right;
    padding: 0;
    margin: 10px;*/
}


/* general navbar */

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#bottom-nav {
    width: 80%;
    margin-left: 10%;
}

nav > a {
    color: #2ecc40;
    flex-grow: 1;
    font-size: 20px;
    padding: 3px 0 0;
}

header > nav {
    width: 90%;
    margin-left: 5%;
}

nav a:not(.logo):not(.signin) {
    padding: 25px 0;
}

/* footer */

footer {
    width: 100%;
    height: 50px;
    margin-top: 80px;
    display: block;
}

footer > p {
    color: #aaaaaa;
    font-weight: 200;
    font-size: 14px;
}

nav + footer {
    margin-top: 20px;
}

/* logo */

a.logo {
    position: absolute;
    left: 15%;
}

nav > a.logo,
nav > a.signin
{
    position: static;
    flex-grow: 2;
}

h1.logo {
    font-weight: 800;
    font-size: 28px;
    margin: 0;
}

svg.logo {
    width: 30px;
    height: 30px;
}

svg.logo * {
    fill: #2ecc40;
}

/* sign in button */

a.signin {
    position: absolute;
    right: 15%;
    line-height: 44px; /* (logo font size - signin size) * 2 + signin size */
    font-size: 16px;
}

a.signin > div {
    margin-bottom: 0;
}

svg.signin {
    width: 18px;
    height: 18px;
    margin-bottom: 20px;
}

svg.signin * {
    stroke: #2ecc40;
}

svg.signin .iconic-property-fill {
    fill: #2ecc40;
}

/* drawer panel */

#drawer-panel, #drawer {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    2px 2px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);    
    }

/* page content */

#main-content {
    overflow: scroll;
}

.down {
    margin-top: 60px;
}

h1 {
    font-weight: 300;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 30px;
    color: #777777;
}

.download-links {
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

.download-links > a {
    opacity: 0.2;
}

.download-links > a > img{
    width: 200px;
}

table {
    margin: 0 auto;
    margin-bottom: 50px;
}

td {
    text-align: left;
}

td.right {
    text-align: right;
}

.thin {
    width: 40%;
    margin-left: 30%;
    text-align: left;
}

.thin.er {
    width: 30%;
    margin-left: 35%;
}

#video {
    margin-top: 50px;
}

#names {
    width: 300px;
    margin: 30px auto 70px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

#names > div {
    height: 80px;
}

#together {
    font-size: 50px;
    line-height: 92px; /* todo must be better way */
}

#last {
    line-height: 63px;
}

dt,
dd
{
    float: left;
    margin-bottom: 20px;
}

dt {
    display: block;
    width: 10%;
    clear: left;
    font-weight: 300;
    font-size: 24px;
}

dd {
    width: 80%;
    margin-top: 6px;
}

.clear {
    clear: both;
}

.bios {
    margin-bottom: 240px;
}

p.center {
    text-align: center;
}

svg.iconic {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    margin-right: 10px;
}

p.support {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%
    margin-bottom: 20%;
}

#map {
    position: relative;
    margin: -50px auto -40px;
    width: 700px;
    height: 500px;
}

#underdev {
    margin: 60px 0 80px;
}

#iphone {
    width: 303px;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.card {
    background: #BCF5A9;
    border: 5px solid #BCF5A9;
    padding: 5px;
    margin: 15px;
    color: #424242;
    position: relative;
    /* float: left; */
    width: 25%;
    height: 150px;
    line-height: 130%;
    display: block;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 2em;
    -webkit-margin-end: 2em;
}

/* responsive adjustment */

@media only screen and (max-width : 1280px) {
    a.logo {
	left: 10%;
    }

    a.signin {
	right: 10%;
    }

    #drawer-panel {
        height: 80px; /* set fixed height when it's on top */
    }
}

@media only screen and (max-width : 1100px) {
    a.logo {
	left: 0;
    }

    a.signin {
	right: 0;
    }
}

@media only screen and (max-width : 900px) {
    header {
        background-color: white;
        height: 120px;/*  todo why is this needed? */
    }
}

/* reset to 640 to match polymer's default responsive width */
@media only screen and (max-width : 640px) { 
    nav > a {
        width: 100%;
        padding: 0;
    }
    #bottom-nav {
        height: 300px;
    }
    #drawer-panel {
        height: 100%; /* make it the whole screen when it's on the side */
    }
    #page-top-navbar {
        display: block; /* show top green navbar on small screens */
    }
}