/* GENERAL STYLES */

/* green: #2ecc40; */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #222222;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: #2ecc40;
    text-decoration: none;
}

a:hover,
a:active {
    opacity: 0.4;
}

a.current {
    color: #222222;
}

a.current:hover {
    opacity: 1;
}

/* PAGE STYLES in order of appearance */

/* header */

header {
    width: 100%;
    position: fixed;
    /*background-color: white;*/
}

header > a {
    padding: 25px 40px;
}

/* general navbar */

nav {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: relative;

    /* removed below - wasn't needed (js) */
    /*margin-left: 20%;*/
    /*border-bottom: 1px solid #2ecc40;*/
    /*display: flex;
    justify-content: space-around;
    align-content: space-around;*/
}

nav a {
    color: #2ecc40;
    display: inline-block;
    width: 100px;
    text-align: center;
    /* removed below - wasn't needed (js) */
    /*flex-grow: 1;*/
    /*padding: 20px 0;*/
    /*font-size: 20px;*/
    /*line-height: 44px;*/
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

header > nav {
    width: 100%;
}

nav li a {  
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}  

nav a:not(.logo):not(.signin) {
    line-height: 40px;
}

/* specific navbar */

#top_nav {
    height: 75px;
}

#bottom_nav {
    height: 40px;
}

/* footer */

footer {
    width: 100%;
    height: 50px;
    margin-top: 80px;
    display: block;
}

footer > p {
    color: #aaaaaa;
    font-weight: 200;
    font-size: 14px;
}

nav + footer {
    margin-top: 20px;
}

/* logo */

a.logo {
    position: absolute;
    left: 15%;
}

nav > a.logo,
nav > a.signin
{
    position: static;
    flex-grow: 2;
}

h1.logo {
    font-weight: 800;
    font-size: 28px;
    margin: 0;
}

svg.logo {
    width: 30px;
    height: 30px;
}

svg.logo * {
    fill: #2ecc40;
}

/* sign in button */

a.signin {
    position: absolute;
    right: 15%;
    line-height: 44px; /* (logo font size - signin size) * 2 + signin size */
    font-size: 16px;
}

a.signin > div {
    margin-bottom: 0;
}

svg.signin {
    width: 18px;
    height: 18px;
    margin-bottom: 20px;
}

svg.signin * {
    stroke: #2ecc40;
}

svg.signin .iconic-property-fill {
    fill: #2ecc40;
}

/* page content */

main {
    padding-top: 130px;
}

h1 {
    font-weight: 300;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 30px;
    color: #777777;
}

.download-links {
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}

.download-links > a {
    opacity: 0.2;
}

.download-links > a > img{
    width: 200px;
}

table {
    margin: 0 auto;
    margin-bottom: 50px;
}

td {
    text-align: left;
}

td.right {
    text-align: right;
}

.thin {
    width: 40%;
    margin-left: 30%;
    text-align: left;
}

.thin.er {
    width: 30%;
    margin-left: 35%;
}

#video {
    margin-top: 50px;
}

#names {
    width: 300px;
    margin: 30px auto 70px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

#names > div {
    height: 80px;
}

#together {
    font-size: 50px;
    line-height: 92px; /* todo must be better way */
}

#last {
    line-height: 63px;
}

dt,
dd
{
    float: left;
    margin-bottom: 20px;
}

dt {
    display: block;
    width: 10%;
    clear: left;
    font-weight: 300;
    font-size: 24px;
}

dd {
    width: 80%;
    margin-top: 6px;
}

.clear {
    clear: both;
}

.bios {
    margin-bottom: 240px;
}

p.center {
    text-align: center;
}

svg.iconic {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    margin-right: 10px;
}

.support {
    width: 60%;
    margin-left: 20%;
    margin-top: 150px;
    margin-bottom: 30%;
}

#map {
    position: relative;
    margin: -50px auto -40px;
    width: 700px;
    height: 500px;
}

#underdev {
    margin: 60px 0 80px;
}

#iphone {
    width: 303px;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.card {
    background: #BCF5A9;
    border: 5px solid #BCF5A9;
    padding: 5px;
    margin: 15px;
    color: #424242;
    position: relative;
    /* float: left; */
    width: 25%;
    height: 150px;
    line-height: 130%;
    display: block;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 2em;
    -webkit-margin-end: 2em;
}

/* css clearfix hack - for elements to clear each other */

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

/* responsive adjustment - anything under max-width will change the bottom navbar to green, vertically-stacked buttons */

@media only screen and (max-width : 500px) {  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;
    }

    #bottom_nav li {  
        display: block;  
        width: 100%;
        background-color: #2ecc40;
        border-bottom: 1px solid white;  
        border-top: 1px solid white;  
    }  

    #bottom_nav a {
        color: white;
    }

    /* space for footer */

    #bottom_nav li:last-child {
        margin-bottom: 10px;
    }
}  
