<div class="product-demo">
  <div id="screen-nav">
    <div id="next-screen">
      {% include svg/chevron-right.svg %}
    </div>

    <div id="prev-screen">
      {% include svg/chevron-left.svg %}
    </div>
  </div>
  
  <div class="screen-images owl-carousel owl-theme">
    {% for screenshot in site.data.product-demo  %}
    <div class="screen">
      <h4>{{ screenshot.title }}</h4>
      <img src="assets/screenshots/{{ screenshot.image }}.png" alt="parlay app image {{ screenshot.image }}">
    </div>
    {% endfor %}
  </div>
</div>
