#landing-cover{
    background-image: linear-gradient(-166deg, #60E16D 1%, #10C09E 87%);
    height: 85vh;
    overflow: hidden;
}

.landing-content{
  @include outer-container;
  padding: 10vh 0;
}

#landing-img{
  @include span-columns(6);
  padding: 0 2em;

  img {
    @include size(20vw, auto);
    width: 100%;
  }
}

.cover-text{
  @include span-columns(5);
  @include shift(1);

  h1{
    color: $white;
    letter-spacing: .25px;
    font-size: 58px;
    line-height: 72px;
  }
}

.download-links{
  @include span-columns(12);

  
  img{
    @include span-columns(6);
    padding: 0 .6em;

    &.disabled { //Diasabled style until available in the apppp stores
      opacity: .3 
    }
  }
}