<head>
  <meta http-equiv="Content-Type"
        content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords"
        content="Parlay, Parlay Friends, Parlay with Me, iPhone App, Android App, Challenge Friends">
  <meta name="description"
        content="Parlay – See who's right. Challenge your friends for 📷, charity, or 💰❗️">

  <meta name="apple-itunes-app" content="app-id=944337527">
  
  <meta property="og:type"
        content="website">
  <meta property="og:title"
        content="Parlay – Challenge your friends❗️">
  <meta property="og:site_name"
        content="Parlay – Challenge your friends❗️">
  <meta property="og:description"
        content="See who's right. Challenge your friends for 📷, charity, or 💰❗️">
  <meta property="og:url"
        content="http://parlaywith.me">

  <meta property="og:image"
        content="http://e.parlay.io/a/app_icon.png" />
  <!-- <meta property="og:image:secure_url" -->
  <!--       content="https://secure.example.com/ogp.jpg" /> -->
  <meta property="og:image:type"
        content="image/png" />
  <meta property="og:image:width"
        content="1024" />
  <meta property="og:image:height"
        content="1024" />

  <meta property="fb:app_id" 
        content="501604519940587">
  
  <meta name="twitter:card" 
        content="app">
  <meta name="twitter:site"
        content="@parlaytheapp">
  <meta name="twitter:description" 
        content="Parlay – See who's right. Challenge your friends for 📷, charity, or 💰❗️">

  <meta name="twitter:app:name:iphone" content="Parlay – Challenge your friends">
  <meta name="twitter:app:id:iphone" content="944337527">
  <meta name="twitter:app:url:iphone" content="parlay://">
  <!-- <meta name="twitter:app:name:ipad" content="Cannonball"> -->
  <!-- <meta name="twitter:app:id:ipad" content="929750075"> -->
  <!-- <meta name="twitter:app:url:ipad" content="cannonball://poem/5149e249222f9e600a7540ef"> -->
  <meta name="twitter:app:name:googleplay" content="Parlay – Challenge your friends">
  <meta name="twitter:app:id:googleplay" content="me.parlaywith.parlay">
  <meta name="twitter:app:url:googleplay" content="parlay://">

  <title>
    {{ page.title }}❗️
  </title>

  <!-- http://faviconit.com/en -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
  <link rel="apple-touch-icon" href="/favicon-57.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicon-144.png">
  <meta name="msapplication-config" content="/browserconfig.xml">


  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
          async></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.7/webcomponents.min.js"></script>
  <script type="text/javascript" src="/bower_components/ua-parser-js/dist/ua-parser.min.js" async></script>  

  <!-- needed b/c of https://github.com/PolymerElements/iron-icon/issues/19 -->
  <link rel="import"
        href="/bower_components/iron-icons/iron-icons.html">

  <link rel="import"
        href="/bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import"
        href="/bower_components/paper-drawer-panel/paper-drawer-panel.html">
  <link rel="stylesheet"
        href="/bower_components/paper-drawer-panel/paper-drawer-panel.css">


  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-53618501-2', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- todo helpful? -->
  <link rel="preconnect"
        href="//www.google-analytics.com">

  <link rel="stylesheet" href="http://d3q6uu7asevdsg.cloudfront.net/1.3/css/link_texting.min.css">

  <script type="application/ld+json">
   {
       "@context": "http://schema.org/",
       "@type": "SoftwareApplication",
       "name": "Parlay",
       "operatingSystem": "IOS",
       "operatingSystem": "ANDROID",
       "applicationCategory": "Entertainment",
       "applicationCategory": "Social",
       "offers": {
           "@type": "Offer",
           "price": "0"
       }
   }
  </script>
       <!-- "aggregateRating": { -->
       <!--     "@type": "AggregateRating", -->
       <!--     "ratingValue": "4.6", -->
       <!--     "ratingCount": "8864" -->
       <!-- }, -->

  <link href="/css/main.css"
        rel="stylesheet"
        type="text/css">
  <script type="text/javascript"
          src="/main.js"
          async></script>
</head>


