.fees .legal-content{
  font-size: 1em;

  h2,h3,p {
    text-align: center;
  }

  table {
    margin: $gutter auto;
    border-collapse: collapse;
  }

  td {
    vertical-align: top;
    padding: 15px 15px 5px;
    line-height: 1.3;
  }
}


.free {
    color: #2ecc40;
}

.definition-list td:first-child {
    text-align: right;
    padding-left: 0;
    padding-right: 0;
}


p.fee {
    margin-bottom: 50px;
}
