<ul id="ideas">
        <li>
          <h4>
            Fantasy Football
            <img class="emoji" src="images/emoji/football.png" align="absmiddle">
          </h4>
          <p>
            will you win the league? be in the lead by Monday? will X player will do better than Y player?
          </p>
        </li>
        <li>
          <h4>
            Current Events
            <img class="emoji" src="images/emoji/newspaper.png" align="absmiddle">
          </h4>
          <p>
            will Hillary run for President? will XYZ professional sports team be sold? what will the Supreme Court rule? will a woman will be on the Republican ticket?
          </p>
        </li>
        <li>
          <h4>
            Social Events
            <img class="emoji" src="images/emoji/confetti_ball.png" align="absmiddle">
          </h4>
          <p>
            will you get a phone number at the bar? or get more matches on Tinder/Hinge/Coffee meets Bagel? or get invited to a party? or chug a beer faster than me?... anything that makes a night out (or in) just a tad more interesting.
          </p>
        </li>
        <li>
          <h4>
            Eating Challenge
            <img class="emoji" src="images/emoji/poultry_leg.png" align="absmiddle">
            <img class="emoji" src="images/emoji/pizza.png" align="absmiddle">
            <img class="emoji" src="images/emoji/cookie.png" align="absmiddle">
          </h4>
          <p>
            can you eat really spicy hot sauce? or an entire pizza? or a large amount of hot dogs/cookies/wings?
          </p>
        </li>
        <li>
          <h4>
            Beer Pong
            <img class="emoji" src="images/emoji/beers.png" align="absmiddle">
          </h4>
          <p>
            whether you play beirut or with paddles the only thing that makes beer pong more fun is $... and keystone lite
          </p>
        </li>
        <li>
          <h4>
            Embarrassing Tasks
            <img class="emoji" src="images/emoji/flushed.png" align="absmiddle">
          </h4>
          <p>
            skinny dip, go to a yoga class, streak a lecture, wear a crazy wig to a bar, wear a banana suit to work... honestly, the only thing better than being right is watching your friends do something ridiculous. cheers.
          </p>
        </li>
        <li>
          <h4>
            Online Games
            <img class="emoji" src="images/emoji/computer.png" align="absmiddle">
          </h4>
          <p>
            Words with Friends? or Sudoku? if you're feelin retro maybe a nice game of Snake? or Pacman?
          </p>
        </li>
        <li>
          <h4>
            Physical Contests
            <img class="emoji" src="images/emoji/muscle.png" align="absmiddle">
          </h4>
          <p>
            who will do more pushups/sprints/jumping jacks? or who can stay on the couch the longest...
          </p>
        </li>
        <li>
          <h4>
            Trivia
            <img class="emoji" src="images/emoji/books.png" align="absmiddle">
          </h4>
          <p>
            was that a Backstreet Boys or N*Sync song? which one was JT even in...? who was the fifth President of the US? really anything you can google later...
          </p>
        </li>
        <li>
          <h4>
            Card Games
            <img class="emoji" src="images/emoji/spades.png" align="absmiddle">
            <img class="emoji" src="images/emoji/diamonds.png" align="absmiddle">
            <img class="emoji" src="images/emoji/hearts.png" align="absmiddle">
            <img class="emoji" src="images/emoji/clubs.png" align="absmiddle">
          </h4>
          <p>
            Cards Against Humanity? Kings? Go Fish? 52 pick up? 
          </p>
        </li>
        <li>
          <h4>
            TV Shows
            <img class="emoji" src="images/emoji/tv.png" align="absmiddle">
          </h4>
          <p>
            will your favorite character die this season? will there be another season? will X end up kissing Y? 
          </p>
        </li>
        <li>
          <h4>
            Movies
            <img class="emoji" src="images/emoji/movie_camera.png" align="absmiddle">
          </h4>
          <p>
            will The Interview be shown in theaters? will X make over 15MM in the box office this weekend? award nominations? 
          </p>
        </li>
        <li>
          <h4>
            Celebrities
            <img class="emoji" src="images/emoji/sunglasses.png" align="absmiddle">
          </h4>
          <p>
            will they get married by June? will they have their first baby by April? will they retweet you!?
          </p>
        </li>
        <li>
          <h4>
            Weight Loss/Gain
            <img class="emoji" src="images/emoji/santa.png" align="absmiddle">
          </h4>
          <p>
            will you lose 10 pounds? will you gain 10 pounds? just do it healthily... xoxo
          </p>
        </li>
        <li>
          <h4>
            Companies/Products
            <img class="emoji" src="images/emoji/office.png" align="absmiddle">
          </h4>
          <p>
            what's the next product Apple will announce? how will the iWatch do? will XYZ get a deal on Shark Tank? 
          </p>
        </li>
        <li>
          <h4>
            College Events
            <img class="emoji" src="images/emoji/mortar_board.png" align="absmiddle">
          </h4>
          <p>
            who will win the fraternity chili bowl? will you get into that popular class? will more than 500 people come to your charity event? will your friend win the student government election? will you get a better grade on the final exam?
          </p>
        </li>
      </ul>