.legal-wrapper{
  @include outer-container;
  margin-top: $gutter;
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $screen-lg-min){
    padding: 0;
  }

}
.legal-menu{

  @include span-columns(12);    
  list-style: none;
  padding: 0;
  @media (min-width: $screen-lg-min){
    @include span-columns(2);   
  }

    li {
      display: inline-block;
      padding: .5em;
      @media (min-width: $screen-lg-min){
        display: block;
        padding: 1em;
      }
      a { 
        color: $pistol;
      }

      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }

      &.active {
        a {
        color: $gray;
        cursor: inherit;
        }
        &:hover {
          text-decoration: none;
          cursor: default;
        }

      }

    }

  &.sticky{
    position: fixed;
    top: 0;
    margin-left: 0;
  }
}

#Shim {
  visibility: hidden;
}


.legal-content{
  @include span-columns(12);
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.1;
  max-width: 40em;
  @media (min-width: $screen-lg-min){
    @include span-columns(8);
  font-size: .8em;
  }
  p {
    margin: 1.5em 0;
  }

  ul,
  ol {
    list-style: none;
    padding: 0;
  }

  li{
    padding: .5em 0
  }

  h3{
    margin-top: $gutter;
    margin-bottom: .4em;
    color: $accent-color; 
  }

  .emoji {
    width: 1.3em;
  }

}