---
layout: page
current: legal
---
<!-- The Legal page include
About
Terms
Privacy

In Tabs -->

<!-- For each section, make a tab -->
<!-- would be nice if the content was included
Make it a layout again
 -->

<!-- In the tab body
 -->

<div class="legal-wrapper">
  <ul class="legal-menu">
    <li>Item</li>
    <li>Item</li>
    <li>Item</li>
  </ul>

<div class="legal-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sapiente amet voluptate officiis est quos adipisci nobis, cupiditate natus repellat, minima doloremque culpa at.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sapiente amet voluptate officiis est quos adipisci nobis, cupiditate natus repellat, minima doloremque culpa at.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sapiente amet voluptate officiis est quos adipisci nobis, cupiditate natus repellat, minima doloremque culpa at.</p>
</div>
</div>



