#team{
  @include outer-container;
  display: flex;
  flex-wrap: wrap;
}
  
img.head {
  width: 100%;
}

#team-hero{
  @include span-columns(6);
  margin-right: 0;

  img {
    width: 100%;
  }
}


.team-title{
  @include span-columns(6);
}

#names {
  display: flex;
  width: 300px;
  margin: 30px auto 40px;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;

  #names > div {
    height: 80px;
  }

  #together {
    font-size: 50px;
    line-height: 92px; /* todo must be better way */
  }

  #last {
    line-height: 63px;
  }
}



.title {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

dt,
dd
{
  float: left;
  margin-bottom: 20px;
}

dt {
  display: block;
  width: 40%;
  clear: left;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 40px;
}

dd {
  width: 50%;
  margin-top: 6px;
  margin-left: 10%;
}

.clear {
  clear: both;
}

.bios {
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
  margin-bottom: 240px;
  text-align: left;
}

p.center {
  text-align: center;
}

svg.iconic {
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
  margin-right: 10px;
}

p.support {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 20%;
}

#map {
  position: relative;
  margin: -50px auto -40px;
  width: 700px;
  height: 500px;
}

#underdev {
  margin: 60px 0;
  text-align: center;
}

#iphone {
  width: 303px;
}
